- var theme_config = { gitalk: theme.gitalk };
script Anatolo.comment.setConfig(!{ JSON.stringify(theme_config) })

mixin require_comment_scripts
  if theme.gitalk
    if theme.gitalk.enable == true
      link(rel="stylesheet", href=url_for("css/comments/gittalk.css"))
      script(src="https://unpkg.com/gitalk/dist/gitalk.min.js")

mixin make_comments
  if theme.always_enable_comments || page.comments
    if theme.gitalk
      if theme.gitalk.enable == true
        a#comments
        #gitalk_container(style="padding: 10px")
