.footer
  .p
    span #{ theme.footbar.copyright }&nbsp;
    i.fa.fa-star
    span &nbsp;#{ theme.author }

  .by_farbox
    span Powered by
    a(href="https://hexo.io/zh-cn/", target="_blank") &nbsp;Hexo
    span &nbsp;&
    a(href="https://github.com/Lhcfl/hexo-theme-anatolo", target="_blank") &nbsp;Anatolo
