ul.social-links
    if theme.github
        li
            a(href= theme.github)
                i.fa.fa-github
    if theme.mail
        li
            //- a(href= "javascript:alert(\"" + theme.mail +"\")" )
            a(href= "mailto:" + theme.mail )
                i.fa.fa-envelope
    if theme.rss
        li
            a(href= url_for(theme.rss))
                i.fa.fa-rss