ul.social-links
  - var socials = Object.fromEntries(Object.entries(theme.social).filter((x) => x[1]));
  each link, icon in socials
    case icon
      when "mail"
        li
          a(href="mailto:" + link)
            i.fa.fa-envelope
      when "rss"
        li
          a(href=url_for(link))
            i.fa.fa-rss
      default
        li
          a(href=link)
            i.fab(class="fa-" + icon)
